.navbar {
  padding: 10px;
  border-bottom:  1px solid #1b1b1b;
  margin-bottom: 15px;
}


.navbarLink {
    text-decoration: none;
    color: #7274A8;
}

.navbarLink:hover,
.navbarLink_active {
    color: #34113F;
}


.navbarLink:not(:last-child) {
    margin-right: 12px;
}

